.header {
  .header-top {
    display: flex;
    background: $primary;
    height: 4.3125rem;
    align-items: center;
    .header-topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-topbar-left {
        display: flex;
        align-items: center;
      }
    }
  }
}
.sign-up {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 18px;
  background: white;
  border-radius: $border-radius;

  .sign {
    display: inline-flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: $blue;
    border-radius: $border-radius;
  }
  .login {
    display: inline-flex;
    align-items: center;
    span {
      svg {
        vertical-align: -20px;
      }
    }
  }
}

.icon {
  display: inline-block;
  justify-content: center;
}

.header-bottom {
  display: flex;
  height: 82px;
  background: $white;
  border-bottom: 0.5px solid #ccc;
  .header-search {
    display: flex;
    gap: 8px;
    align-items: center;
    input {
      background-color: $light;
      width: 345px;
    }
  }
  .btn-rezerve {
    display: flex;
    justify-content: center;
    background: $white;
    box-shadow: -5px -5px 24px 0px rgba(255, 255, 255, 0.1) inset,
      0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      2px 2px 4px 0px rgba(0, 0, 0, 0.2) inset;
    padding-right: 5px;
    border-radius: $border-radius;
    margin-right: 20px;
    .text-white-space {
      padding-right: 10px;
      white-space: nowrap;
      line-height: 45px;
      padding-left: 5px;
    }
  }
}

.slide-one {
  background: url("/assets/images/paul-green-gOHfFgwyDNM-unsplash.png")
    no-repeat center center/cover;
  height: 460px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: $border-radius;
}

.slide-two {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 20px;
  background: url("/assets/images/paul-green-gOHfFgwyDNM-unsplash.png")
    no-repeat center center/cover;
  height: 220px;
  border-radius: $border-radius;
}

.slide-four {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 20px;
  background: url("/assets/images/paul-green-gOHfFgwyDNM-unsplash.png")
    no-repeat center center/cover;
  height: 220px;
  border-radius: $border-radius;
}
.tools {
  display: flex;

  .tool-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    gap: 20px;
    border-radius: $border-radius;
    .title-tool {
      h1 {
        color: $white;
      }
    }
  }
}

